<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>单据明细</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no">
</head>
<style>
    p {
        overflow-wrap: break-word;
    }

    body,
    html {
        box-sizing: border-box;
        margin: 10px 0;
        width: 100%;
        padding: 0 4px;
    }
</style>
<script >
    function HTMLDecode(text) {
        var temp = document.createElement("div");
        temp.innerHTML = text;
        var output = temp.innerText || temp.textContent;
        temp = null;
        return output;
    }
    var tagText = "<p><b>123&456</b></p>";
    var encodeText = HTMLEncode(tagText);
    console.log(encodeText);//&lt;p&gt;&lt;b&gt;123&amp;456&lt;/b&gt;&lt;/p&gt;
    console.log(HTMLDecode(encodeText)); //<p><b>123&456</b></p>
</script>
<body>

    <div style="text-align: center;">
        <b>开发公告</b>
    </div>
    <hr id="null">
    <p>
        订单信息：
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; 订单号：HF097IKIIYILKLKLLLKLWEERRRWEEDFFFFFFFFFFFFFFFFFFFFFEE
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; 供应商信息：福建华耀科技
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; 这是：
    </p>
    <hr id="null">
    备注：remark
</body>


</html>