<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style lang="less">
    html{
        font-size: 50px;
    }
    .box{
       font-size: .5rem;
       width: 3rem;
       height: 3rem;
       background: red;
    }
    .small{
       font-size: 1rem;
       width: 1.5rem;
       height: 1.5rem;
       background: green;
    }
</style>
<body>
    <div class="box">我是大盒子
        <div class="small">我是小box</div>
    </div>
</body>

</html>